<MudItem sm="12" md="8" lg="4">
    <h2 style="color: #e0e0e0">Create notes easily and access when you wants on the cloud</h2>
    <p style="color: #e0e0e0"> 
        <br/>
        <strong>Store and organize your ideas effortlessly:</strong> With our online notes platform,
        you can create, edit, and organize your notes easily. Each note is securely
        saved in the cloud, ensuring that your ideas and important information are
        always accessible and well-organized.
        <br><br>
        <strong>Quick and secure access from any device:</strong> Whether you’re at work, at home, or
        on the go, your notes are always within reach. With just a few clicks, you
        can access and manage your notes on any internet-connected device, with complete
        security and privacy.
    </p>
    <div class="d-flex mt-8 pl-n20 justify-center" >
        <MudButton Href="/register" Color="Color.Secondary" Variant="Variant.Outlined">Register for free Now</MudButton>
    </div>
</MudItem>
<MudItem sm="12" md="8" lg="4">
    <MudImage Src="/images/presentation.png"></MudImage>
</MudItem>

