@page "/Register"
@layout MainLayout 

<PageTitle>Registrar</PageTitle>

<MudItem sm="12" md="8" lg="4">
    <MudPaper Class="mud-width-full pa-8">
        <div class="d-flex justify-center mb-4 ">
            <MudImage Src="/images/logo.png"></MudImage>
        </div>

        <MudText Align="Align.Center" Typo="Typo.subtitle2" Color="Color.Primary">Your notes on the cloud</MudText>
        
        <MudForm @ref="_mudForm">
            <MudTextField
                T="string"
                Label="Nome"
                InputType="InputType.Text"
                Required="true"
                RequiredError="O nome deve ser fornecido"/>
            
            <MudTextField
                T="string"
                Label="E-mail"
                InputType="InputType.Email"
                Required="true"
                RequiredError="Informe o E-mail"
                Validation="@(new EmailAddressAttribute { ErrorMessage = "E-mail inválido" })"/>

            <MudTextField
                T="string"
                Label="Senha"
                InputType="InputType.Password"
                Required="true"
                RequiredError="Senha inválida"/>
        </MudForm>
        <div class="d-flex mt-8 justify-center">
            <MudButton Href="/login" Class="mr-20" Color="Color.Primary" Variant="Variant.Filled">Já tem uma conta?</MudButton>
            <MudButton Href="/" Color="Color.Primary" Variant="Variant.Outlined">Cadastrar-se</MudButton>
        </div>
    </MudPaper>
</MudItem>

@code{

    MudForm? _mudForm;

}