@inherits LayoutComponentBase

<MudThemeProvider @ref="_mudThemeProvider" @bind-IsDarkMode="_isDarkMode" Theme="Configuration.Theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudAppBar>
    <MudLink Class="pa-1 mt-2" Href="/cadastro">
        @if (_isDarkMode)
        {
            <MudImage Width="150" Src="/images/whitelogo.png"></MudImage>
        }
        else
        {
            <MudImage Width="150" Src="/images/logo.png"></MudImage>
        }
    </MudLink>
    <MudSpacer/>
    <div>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" Href="/login">Login</MudButton>
        <MudButton Color="Color.Primary" Variant="Variant.Outlined" Href="/register">Register</MudButton>
    </div>
    <MudSwitch @bind-Value="@_isDarkMode"/>
</MudAppBar>
<MudGrid Justify="Justify.Center" Style="height: 102vh; align-items: center">
    @Body
</MudGrid>

@code{
    private bool _isDarkMode = false;
    private MudThemeProvider _mudThemeProvider = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            await _mudThemeProvider.WatchSystemPreference(OnSystemPreferenceChanged);
        }
    }

    private Task OnSystemPreferenceChanged(bool value)
    {
        _isDarkMode = value;
        StateHasChanged();
        return Task.CompletedTask;
    }
    
}


