@using NoteApp.Web.Components
@inherits LayoutComponentBase
@inject AppState AppState
<MudThemeProvider Theme="Configuration.Theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@* <MudAppBar> *@
@*     <MenuItems IsAuthenticated="@AppState.IsAuthenticated"></MenuItems> *@
@* </MudAppBar> *@
@* <div class="main-container"> *@
@*     @Body *@
@* </div> *@

<MudLayout>
    @Body
</MudLayout>